@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100dvh;
  width: 100dvw;
}

.react-grid-placeholder {
  border: 1px dashed rgb(73, 73, 73);
  content: none;
  background: rgba(112, 112, 112, 0.26);
}

/* 

.react-terminal {
  flex-wrap: wrap;
  overflow:hidden;
  width: 100%;

}

.react-terminal-input {
  white-space: pre;
  overflow-wrap: break-word;
  width: 100%;
  overflow: hidden;
} */

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  /* background: rgb(100, 100, 100); */
  /* background: rgb(136, 136, 136); */
  background: #777;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  /* background: rgb(136, 136, 136); */
  background: rgb(100, 100, 100);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}