@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100dvh;
  width: 100dvw;
}

.react-grid-placeholder {
  border: 1px dashed rgb(73, 73, 73);
  content: none;
  background: rgba(112, 112, 112, 0.26);
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
