body>.skiptranslate {
    display: none;
}

body {
    top: 0 !important;
}

.skiptranslate.goog-te-gadget {
    font-size: 0px;
}

.skiptranslate.goog-te-gadget > span {
    display: none;
}

.goog-te-gadget-icon {
    display: none;
}


/* .goog-te-gadget-simple {
    background-color: #ecebf0 !important;
    border: 0 !important;
    font-size: 10pt;
    font-weight: 800;
    display: inline-block;
    padding: 10px 10px !important;
    cursor: pointer;
    zoom: 1;
}

.goog-te-gadget-simple span {
    color: #3e3065 !important;

} */

.goog-te-combo {
    /* border: 0; */
    background-color: transparent;
    font-size: 0;
    height: 100% !important;
    width: 100% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.goog-te-combo::-ms-expand {
    display: none;
}
.goog-te-combo option {
    border: 1px solid red;
}
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc{
    display: none;
}